.about-container {
  margin: auto;
  max-width: 1240px;
  @media screen and (max-width: map-get($breakpoints, 'large')) {
    margin-left: 20px;
    margin-right: 20px;
  }
  .collapse {
    max-width: 1023px;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    @media screen and (max-width: map-get($breakpoints, 'medium')) {
      margin-bottom: 20px;
    }
  }
}
