.info-container {
  max-width: 1240px;
  margin: auto;
  .info__carrousel {
    height: 415px;
    max-width: 1240px;
    img {
      height: 415px;
      width: 100%;
      object-fit: cover;
      border-radius: 25px;
    }
  }
  .info__txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .info__section-left + p {
      padding: 0;
      margin: 0;
    }
  }
  .info__collapses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 76px;
    grid-row-gap: 30px;
    padding-bottom: 30px;
  }
}
