.info-container {
  max-width: 80%;
  margin: auto;
  padding-bottom: 90px;
  @media screen and (max-width: map-get($breakpoints, 'large')) {
    max-width: 87.5%;
  }
  @media screen and (max-width: map-get($breakpoints, 'medium')) {
    padding-bottom: 25px;
  }
  .info__txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: map-get($breakpoints, 'small')) {
      flex-direction: column;
    }
    .info__section-left > p {
      padding: 0;
      margin: 0;
      font-size: 1.125em;
      @media screen and (max-width: map-get($breakpoints, 'small')) {
        font-size: 0.875em;
        margin: 5px 0 5px 0;
      }
    }
    .info__section-right {
      .info__section-right--host {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 25px 0 25px 0;
        gap: 10px;
        @media screen and (max-width: map-get($breakpoints, 'small')) {
          padding: 0;
        }
        p {
          font-size: 1.125em;
          max-width: 90px;
          text-align: end;
          @media screen and (max-width: map-get($breakpoints, 'small')) {
            font-size: 0.75em;
            max-width: 60px;
          }
        }
        img {
          border-radius: 50%;
          object-fit: cover;
          width: 64px;
          height: 64px;
          @media screen and (max-width: map-get($breakpoints, 'small')) {
            width: 32px;
            height: 32px;
          }
        }
      }
      @media screen and (max-width: map-get($breakpoints, 'small')) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .info__collapses {
    display: flex;
    gap: 75px;
    @media screen and (max-width: map-get($breakpoints, 'small')) {
      flex-direction: column;
      gap: 0;
    }
  }
}
