.info-container {
  max-width: 90%;
  margin: auto;
  padding-bottom: 90px;
  @media screen and (max-width: map-get($breakpoints, 'large')) {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 60px;
  }
  .info__txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: map-get($breakpoints, 'medium')) {
      flex-direction: column;
    }
    .info__section-left > p {
      padding: 0;
      margin: 0;
      font-size: 1.125em;
      @media screen and (max-width: map-get($breakpoints, 'medium')) {
        font-size: 0.875em;
        margin: 5px 0 5px 0;
      }
    }
    .info__section-right {
      .info__section-right--host {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 25px 0 25px 0;
        gap: 10px;
        @media screen and (max-width: map-get($breakpoints, 'medium')) {
          padding: 0;
        }
        p {
          font-size: 1.125em;
          max-width: 90px;
          text-align: end;
          @media screen and (max-width: map-get($breakpoints, 'medium')) {
            font-size: 0.75em;
            max-width: 60px;
          }
        }
        img {
          border-radius: 50%;
          object-fit: cover;
          width: 64px;
          height: 64px;
          @media screen and (max-width: map-get($breakpoints, 'medium')) {
            width: 32px;
            height: 32px;
          }
        }
      }
      @media screen and (max-width: map-get($breakpoints, 'medium')) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .info__collapses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 76px;
    grid-row-gap: 30px;
    padding-bottom: 30px;
    @media screen and (max-width: map-get($breakpoints, 'medium')) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 45px;
    }
  }
}
