// -----------------------------------------------------------------------------
// This file contains styles that are specific to the error page.
// -----------------------------------------------------------------------------

.error {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  @media screen and (max-width: map-get($breakpoints, 'medium')) {
    gap: 112px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .error-type {
    font-weight: 700;
    font-size: 18em;
    padding: 0;
    margin: 0;
    @media screen and (max-width: map-get($breakpoints, 'small')) {
      font-size: 6em;
    }
  }
  .error-txt {
    font-size: 2.25em;
    margin: 0;
    text-align: center;
    @media screen and (max-width: map-get($breakpoints, 'small')) {
      font-size: 1.125em;
      line-height: 142.6%;
      max-width: 260px;
    }
  }
  a {
    font-size: 1.125em;
    text-align: center;
    @media screen and (max-width: map-get($breakpoints, 'small')) {
      font-size: 0.875em;
    }
  }
}
