// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@import '../abstracts/_variables.scss';

.main-container {
  border-radius: 25px;
  background: $tertiary-color;
  max-width: 1140px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 50px;
  padding: 50px;
  @media screen and (max-width: map-get($breakpoints, 'large')) {
    margin-left: 20px;
    margin-right: 20px;
    background: $secundary-color;
    padding: 0;
  }
  @media screen and (max-width: map-get($breakpoints, 'medium')) {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}
