.info__carousel {
  position: relative;
  height: 415px;
  @media screen and (max-width: map-get($breakpoints, 'small')) {
    height: 255px;
  }
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  .carousel--img {
    position: absolute;
    top: 0;
    left: 0;
    height: 415px;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    @media screen and (max-width: map-get($breakpoints, 'small')) {
      height: 255px;
    }
    img {
      border-radius: 25px;
      object-fit: cover;
      height: 415px;
      width: 100%;
      @media screen and (max-width: map-get($breakpoints, 'small')) {
        height: 255px;
        border-radius: 10px;
      }
    }
  }
  .carousel--button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    img {
      width: 80px;
      height: 80px;
      @media screen and (max-width: map-get($breakpoints, 'small')) {
        width: 20px;
        height: 20px;
      }
    }
  }
  .carousel--button:first-child {
    left: 10px;
  }
  .carousel--button:last-child {
    right: 10px;
  }
}
