// -----------------------------------------------------------------------------
// This file contains styles that are specific to the collapsible menu of the site.
// -----------------------------------------------------------------------------

.collapse {
  width: 100%;
  margin: 15px 0;
  @media screen and (max-width: map-get($breakpoints, 'small')) {
    margin: 10px 0;
  }
  &__btn {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: $secundary-color;
    height: 52px;
    padding: 7px 15px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    @media screen and (max-width: map-get($breakpoints, 'small')) {
      font-size: 0.875em;
      height: 30px;
    }
    .toggle-arrow {
      transform: rotate(0deg);
      transition: 300ms ease-in-out;
      @media screen and (max-width: map-get($breakpoints, 'small')) {
        width: 16px;
        height: 16px;
      }
    }
    .rotation {
      transform: rotate(180deg);
      transition: 300ms ease-in-out;
    }
  }

  &__toggle {
    opacity: 0;
    z-index: 0;
    color: $primary-color;
    background: $tertiary-color;
    border-radius: 5px;
    transition: height 400ms 200ms ease-in-out, opacity 400ms ease-in-out;
    div {
      margin: 0;
      padding: 10px 15px;
      @media screen and (max-width: map-get($breakpoints, 'small')) {
        padding: 8px 10px;
      }
      p,
      ul li {
        font-size: 1.25em;
        @media screen and (max-width: map-get($breakpoints, 'small')) {
          font-size: 0.875em;
        }
      }
      ul li {
        list-style-type: none;
        line-height: 142%;
      }
    }
  }
  .animation {
    z-index: 1;
    opacity: 1;
    transition: height 200ms ease-in-out, opacity 400ms 400ms ease-in-out;
  }
}
