// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.banner {
  position: relative;
  width: 1240px;
  height: 223px;
  flex-shrink: 0;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 25px;
  img {
    width: 1240px;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
