// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar {
  max-width: 1240px;
  margin: auto;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: map-get($breakpoints, 'large')) {
    margin-left: 20px;
    margin-right: 20px;
    img {
      height: 47px;
    }
  }
  .navbar__links {
    width: 310px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
      display: flex;
      padding: auto;
      gap: 48px;
      @media screen and (max-width: map-get($breakpoints, 'medium')) {
        gap: 26px;
      }
      li {
        list-style: none;
        a {
          font-size: 24px;
          text-decoration: none;
          display: flex;
          align-items: center;
          @media screen and (max-width: map-get($breakpoints, 'medium')) {
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.current {
  border-bottom: solid 1px $text-color;
}
