.info__section-right--rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 200px;
  gap: 5px;
  @media screen and (max-width: map-get($breakpoints, 'medium')) {
    justify-content: flex-start;
    .fa-star {
      font-size: 18px;
    }
  }
  .full-star {
    color: $text-color;
  }
  .empty-star {
    color: #e3e3e3;
  }
}
