// -----------------------------------------------------------------------------
// This file contains styles that are specific to the rating section.
// -----------------------------------------------------------------------------

.info__section-right--rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 200px;
  gap: 5px;
  @media screen and (max-width: map-get($breakpoints, 'small')) {
    justify-content: flex-start;
    .fa-star {
      font-size: 1.125em;
    }
  }
  .full-star {
    color: $primary-color;
  }
  .empty-star {
    color: #e3e3e3;
  }
}
