// -----------------------------------------------------------------------------
// This file contains all application-wide Sass styles.
// -----------------------------------------------------------------------------

body {
  margin: 0;
  font-family: $text-font-stack;
}

h1 {
  color: $secundary-color;
  padding: 0;
  margin: 0;
  font-size: 48px;
  font-weight: 500;
}

h2 {
  color: $text-color;
  font-size: 36px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 5px;
  margin: 0;
}

p,
a {
  color: $text-color;
}
