// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Montserrat', sans-serif !default;

/// colors
/// @type Color
$primary-color: #ff6060;
$secundary-color: #ffffff;
$tertiary-color: #f6f6f6;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1240px,
) !default;
